// Specific CSS for your home-page

.devise-container {
  display: flex;
  justify-content: center;
  margin-top: 5em;
}

.devise-div {
  width: 50%;
  text-align: center;
  // display: flex;
  justify-content: center;
}

.btn {
  border-radius: 10%;
  padding: .5em;
  background-color: #0A122A;
  color: #E7DECD;
  border: none;
  margin-bottom: .8em;
}

.btn:hover {
  color: #E7DECD;
  border: none;
}

.password-btn {
  border-radius: 4% !important;
  padding: .5em;
  background-color: #0A122A;
  color: #E7DECD;
  border: none;
}

.password-btn:hover {
  color: #E7DECD;
  border: none;
}

.devise-form-div {
  display: flex;
  justify-content: center;
}

.devise-form {
  width: 50%;
}

.zero-margins {
  margin: 0;
}

body {
  background-color: #465E70;
  color: #E7DECD;
  font-family: 'Lato', sans-serif;
}

.devise-div a {
  color: #E7DECD;
  margin: 20px 20px;
}

.text-muted {
  color: #0A122A !important;
}
