li {
  list-style: none;
}

.priority {
  background-color: purple;
  font-weight: bold;
}

.strike {
  text-decoration: line-through;
}

.list a {
  letter-spacing: 5px;
}

.list p {
  display: inline;
  padding-right: 3px;
}

.centered-div {
  text-align: center;
}

.form {
  margin-top: 3em;
}

.centered-text {
  text-align: center;
}

