// .navbar-lewagon {
//   justify-content: space-between;
//   background: white;
// }

// .navbar-lewagon .navbar-collapse {
//   flex-grow: 0;
// }

// .navbar-lewagon .navbar-brand img {
//   width: 40px;
// }

.navbar {
  background-color: #0A122A;
  display: flex;
  font-family: 'Lato', sans-serif !important;
}

.navbar-block {
  flex: 1;
  display: flex;
  justify-content: center;
}

.navbar-block:last-child {
  justify-content: flex-end;
}

.navbar-block ul li a{
  color: #E7DECD;
}

